doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= `My app - ${title}`
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tajawal" rel="stylesheet")
  body

    block header
      .nav
        a(href="http://localhost:3000/") Home
        a(href="http://localhost:3000/users") Users
        a(href="http://localhost:3000/register") Register
        a(href="http://localhost:3000/login") Login
        
    .content
      block content
  
    block scripts
      //- script(src="/js/scripts.js")